@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: rgb(94, 94, 94);
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: rgb(255, 255, 255);
    font-size: 80px;
} 

.subtitulo {
    color: white;
    font-size: 35px;
    
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: rgb(149, 0, 255);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: transparent;
    border-radius: 20px;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around
}

.tarjeta-de-mokepon img {
    width: 60px;
}

input {
    display: none;
}

input:checked + label {
    background-color: rgb(134, 118, 141);
}

.boton-seleccionar {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 30px;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color:rgb(149, 0, 255);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
}

#mensajes {
    width: 280px;
    background: rgb(113, 2, 113);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    color: rgb(0, 0, 0);
    background: transparent;

}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0px;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}

